.navbar {
    margin: 10px;
    padding: 10px;
    font-weight: bold;
    height: 64px;
    width: 100%;
    align-items: center;
  }

  .currency {
    font-size: 12px;
    color: darkgreen;
    padding-left: 100px;
    padding-right: 100px;
  }